@inherits LayoutComponentBase

<h1 style="text-align: center">DOTS</h1>
@Body
<p style="text-align: center">Use W,A,S,D to move</p>
<p style="text-align: center">You can add another dot by opening website in another tab</p>